APP_NAME="FORSA"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8080

DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=forsa
DB_USERNAME=fadil
DB_PASSWORD=

SESSION_NAME=forsa_session
UPLOAD_MAX_SIZE_MB=15
